<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
       
        <!--<add name="QuanLyPhongMachTu.Properties.Settings.QLKBConnectionString"
            connectionString="Data Source=LAPTOP-RFFT4OPR\SQLEXPRESS;Initial Catalog=QLKB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
		<add name="QuanLyPhongMachTu.Properties.Settings.QLKBConnectionString"
            connectionString="workstation id=QuanLyKhamBenh.mssql.somee.com;packet size=4096;user id=dat;pwd=88888888;data source=QuanLyKhamBenh.mssql.somee.com;persist security info=False;initial catalog=QuanLyKhamBenh"
            providerName="System.Data.SqlClient" />
      
		
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <!--<add key="ConnectionString" value="Data Source=LAPTOP-RFFT4OPR\SQLEXPRESS;Initial Catalog=QLKB;Integrated Security=True"/>-->
    <add key="ConnectionString" value="workstation id=QuanLyKhamBenh.mssql.somee.com;packet size=4096;user id=dat;pwd=88888888;data source=QuanLyKhamBenh.mssql.somee.com;persist security info=False;initial catalog=QuanLyKhamBenh"/>
    
    
  </appSettings>
</configuration>




<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-R6C5BS9;Initial Catalog=QLKB;Integrated Security=True"/>

    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"/>
  </appSettings>
</configuration>-->